#messages {
	height: 100%;
	flex: 1;
}

#messages img {
	display: block;
	height: 30vh;
	margin: auto;
	margin-top: 30vh;
	transition: opacity 0.5s;
}

#messages img[hidden] {
	opacity: 0;
}

@media screen and (max-width: 650px) {
	#messages img {
		opacity: 0;
	}
}
